@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Silkscreen&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{

    height: 100vh;
    width: 100vw;
    background-color: rgb(173, 56, 56);
    font-family: 'Silkscreen', cursive;
    font-size: 3rem;
   
}

.container
{
margin: 0 auto;
border-radius: 25px;
top: 170px;
position: relative;

}

.lights{
    position: relative;
    bottom: 100px;
    right: 100px;
    z-index: 1;
}
#signalButton{
    position: relative;
  bottom: 155px;
  width: 100px;
  height: 100px;
  background: #4bc475;
  border: 1px solid grey;
    left: 10px;
    border-radius: 50%;
    animation-name: color;
    animation-duration: 6s;
    animation-iteration-count:infinite; 
    background-color: orange;
    
}

#rgbLights{
    width: 100px;
    position: relative;
    bottom: 125px;
    left: 5%;
}

.pokeNo{
    position: relative;
    left: 90vw;
}


 .searchBox{
    position: relative;
    margin: 0 auto;
    height: 25px;
 


}

#searchButton{
    border-radius: 5px;
    z-index: 5;
    width: 30px;
        height: 25px;
}

#search{
    height: 25px;
    border-radius: 5px;
    
    z-index: 5;
     
    
  

    
} */

.pokeName
{
     width: 50%;
    background-color: rgb(7, 7, 200);
    border-radius: 15px;
    margin: 0 auto;
}

#pokeImage {
    width: 90%;
    height:fit-content;

    border-radius: 20px;
    position: relative;
    margin: 0 auto;
    border: 5px solid black;
    bottom: 200px;
  }

  #pokemonImage{
    width:40%;
    position: relative;
    top: 10px;
  }

  #pokemonImage2{
    width: 40%;
    position: relative;
top: 10px;
  }

  .pokemon img{
    position: relative;
    left: 10%;
    bottom: 80px;
  }

  #pokemon{
    width: 125px;
    margin: auto;
    display: block;
  }

  .pokeTypeOne{
    width: 50%;
    background-color: rgb(7, 7, 200);
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

 

  .mainContent{
    text-align: center;
    color: white;
    font-size: 1.5rem;
   
  }

  .moveList li {
    display: inline-block;
    background-color: grey;
    border-radius: 15px;
    padding: 5px;
  }

  .attributes{
margin: 0 auto;
border-radius: 15px;
}

  .attributes ul li{
list-style-type: none;
padding:5px;
  }
  
  .HP {
    width: 50%;
    background-color: RED;
    border-radius: 15px;
    margin: 0 auto;
 
  }
  .ATK {
    width: 50%;
    background-color: orange;
    border-radius: 15px;
    margin: 0 auto;
  }

  .DEF {
    width: 50%;
    background-color: rgb(169, 169, 255);
    border-radius: 15px;
    margin: 0 auto;
  }
  .SPD {
    width: 50%;
    background-color: rgb(7, 7, 200);
    border-radius: 15px;
    margin: 0 auto;
  }

  #redButton{
    width: 105px;
    position: absolute;
    top: 250px;
  }

  

  #redButton2{
    width: 70px;
    position: absolute;
    bottom: 320px;
    left: 20%;

  }
  #redButton3{
    width: 70px;
    position: absolute;
    bottom: 320px;
    left: 35%;
  }

  

  @keyframes color {
    0% {background-color: #fff;}
    
    100% {background-color: #8dc7da;}
}
